#startingPageBody{
  background-image: url("../misc/Images/WEBSITE_LAYOUT_FINAL1_dicection_background.png");
  background-color: #cccccc;
  
  
  background-repeat: no-repeat;
  background-size:100% auto;
  
 }

 #topBar{


}

 #wizzard{
   max-width: 100%;
   padding-left: 8%;
 }

 #icon{
max-width: 50%;
height:auto;
 }
 
 

