



#bg{
  background-color:#60b2ff;
  width: 93%; 
  margin: 2.7; 
  margin-top:2.7;
  margin-bottom: 2.7;
  padding: 0.5%
}

#bordering{
  margin: 3%;
  font-size: auto;
}
#overalContainer{
  margin-top:10%;
  max-width: 50%;


}
#iconBorder{
  background-color: blue;
}

#perfilContainer{
  margin: 2%;
  background-color: white;
}

#perfilIcon{
 max-width: 100%;
 max-height: auto;
}





