/*######################## SIDEBAR BURGER/nav CODE HERE##############################  */
#sideBurger ul {
    position: absolute;
    /* set a fixed position relative to the screen of the device */
    right: -7%;
    /* position hidden from the screen nothing above the width */
    transition: 0.3s;
    /* hovver transsation */
    padding: 1%;
    width: 8%;

    border-radius: 5px 0 0 5px;
    /* Rounded corners on the right sides*/
    background-color:rgb(208, 21, 255);
    /*temp color - color pick the color from AI */
    z-index: 1;

}

#sideBurger ul:hover {
    right: 0px;
}

#sideBurger img {
    width: 80%;
    height: 80%;
}

body {
    background-color:#fbc3b0;
}

#QuestionNumber {
    text-align: center;
    font-size: 80px;
}

#QuestionText {
    text-align: center;
    font-size: 48px;
}

#QuestionBox {
    background-color:#e5a3a3;
}
#Buttons{
    text-align: center;
}

.resposta {
    background-color: #63A3D1;
    width: 620px;
    height: 80px;
    border-radius: 12px;
    font-size: 30px;
    text-align: center;
}

#narrativeBox{
    background-color:#e5a3a3;
    border-radius: 12px;
    margin:5%;
  
    font-size: 20PX;
}
#narrativeBox.p{
    
}